<template name="uploadForm">
  <form id="uploadForm" action="#">
			<input type="email" name="senderEmail" placeholder="Your email" />
			<input type="email" name="receiverEmail" placeholder="Your friend's email" />
			<input type="text" name="message" placeholder="Message" />
			<div id="drop">
				Drop Here

				<a>Browse</a>
				<input type="file" name="file"/>
			</div>

			<ul>
			{{#with file}}
				<!-- The file upload will be shown here -->
				<li class="working">
		        	<input type="text" value="0" data-width="48" data-height="48" data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" />
		        	<p>{{fileName}} <i>{{fileSize}} KB</i></p>
		        	<span></span>
		        </li>
		    {{/with}}
			</ul>

		</form>
</template>

<template name="uploadProgressBar">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
      <span class="sr-only">{{progress}}% Complete</span>
    </div>
  </div>
</template>